<div class="" *ngIf="(bookService.book$ | async) as books">
      <div class="row" >
        <div class="col-md-4" *ngFor="let book of books">
          <div class="card mt-5 mb-3" style="width: 16rem;">
            <img [src]="book.imageUrl" class="card-img-top" height="200px" alt="Book Image">
            <div class="card-body">
              <h5 class="card-title fs-6"> {{ book.title }} </h5>
              <p class="card-text"> {{ book.authorName }} </p>
              <div class="d-flex justify-content-between">
                <span class="card-text"> {{ book.price | currency:'USD' }} </span>
                <span class="card-text"> {{book?.category?.name ?? 'Novel'}} </span>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-outline-success" [routerLink]="['/books',book.id]">Details</button>
            </div>
          </div>
        </div>
      </div>
</div>
